/*
stylesheet for css demo*/

/*------------box size--------*/
html{
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}
/*----utility classes----*/
.container{
    width:70vw;
    margin:40px auto;
}

img{
    max-width:100%;
}

img-left{
    float:left;
    margin-left:20px;
    border:1px solid chocolate;
    padding:5px;
}


/*------------global styless--------*/

/* color scheme 
#6CD9A4
#99FFCE
#388C64
#8C362A
#D9796C
*/

body{
    font-family: 'Tangerine', cursive;/*google font*/
   
}

header.primary{
    background:#6CD9A4;
    text-align:center;
    color:#ffffff;

    /* t,r,b,l*/
    padding:40px 40px 30px 40px;
    text-shadow: 2px 2px 4px #ffffff;
}

header.primary h1{
    font-size:1rem;
    margin: 20px 0;
}

header.primary h1 a{
    color:#ffffff;
    text-decoration:none;
}

header.primary h2{
    font-size:1.4rem;
    /* tip|l/r\bottom*/
    margin:20px auto 30px;
}

header.primary nav{
    width:80vw;
    margin: 20px auto;
    max-width: 800px;
}
header.primary nav ul{
    padding:0;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

header.primary nav ul li{
    list-style-type:circle;
    background:#8C362A;
}

header.primary nav ul li a{
    color:#6CD9A4;
    text-decoration:none;
    background-color:#000000;
    background-color:rgba(0,0,0,.4);
    padding:6px 16px;
    display:inline-block;
    border-radius:20px;
}

header.primary nav a:hover{
    background-color:rgba(0,0,0,.6);
    transition:.3s;
}

section#intro{
    border: 2px ridge purple;
    padding-bottom:1.1rem;
}

#intro h2{
    color:#8C362A;    
}

#content{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    border-bottom:1px dotted pink;
    padding-bottom:1rem;
}

#content article.post{
    width:30%;
    box-shadow: 5px 20px #000000;
    padding:10px;
    border-radius:5px;
    font-size:.4rem;
}

#content article.post:hover{
    box-shadow: 0 8px 15px rgba(0,0,0,.4);
}


time.post-date, figcaption, .post-meta{
text-transform:uppercase;
color:#ffffff;
}

.post figure{
margin:0;
}

.post img{
    border:1px solid #6CD9A4;
    padding:2px;
    margin: 5px 0;
}

.post a{
    color:#6CD9A4;
}

.post a:hover{
    text-decoration:none;
}

aside[role="complementary"]{
background:pink;
color:#000000;
padding:1.3rem;
}

aside div.container{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

aside article.widget{
    width:42%;
}


article.widget a{
    color:white;
    display:block;
    margin-top:.2rem;
    text-align:center;
}

article.width footer{
    display:none;
}

#colophon{
    background-color:#8C362A;

}
#additional-elements h2{
    color:#000000;
    border-bottom:1px ridge pink;
}


#additional-elements h3{
    border-left:5px solid pink;
    padding-left:5px 10px;
}

#addition-elements a{
    color:pink;
}

#addition-elements a:hover{
    text-decoration:none;
}

#additional-elements h2{
    color:#8C362A;
    border-bottom:20px dotted pink;
}

#additional-elements h3{
    border-left:20px solid pink;
    padding:5px 10px;
}

#additional-elements a{
    color:#6CD9A4;

}

table{
    width:100%;
    border:1px solid #000000;

}

tr:nth-child(odd){
    background-color:rgba(0, 0 ,0,.1);
} 

tr:hover{
    background-color:#ffffff;
}

th{
    background:#ffffff;
    color:#6CD9A4;
    padding:8px;
}

td{
    border:1px solid black;
    border-collapse:collapse;
}

table caption{
    color:pink;
    padding:10px;
    font-weight:lighter;
    font-size:1.4rem;
}

#additional-elements ol{
    list-style-type:upper-roman;
    list-style-position:outside;
}

#aditional-elements ul{
    list-style-type:square;
}

#aditional-elements ul ul{
    list-style-type:disc;
}

dl{

}

dt{
    font-weight:bold;
}

dd{
    margin-left:0;
}

dd+dt{
    margin-top:1rem;
}


@media screen and (max-width:500px){
    header.primary nav ul{
        flex-direction:column;
    }
}
