/*Color Theme 
 #72AFED Base color 
 #ffff white used for text of paragraphs?
 #8CB3DB block color for back paragraphs
 #A0BED9 border color
 #CFE5FF header color
*/

/*----box sizing---*/

html{
    box-sizing: border-box;
}
    *,
    *:before,
    *:after {
        box-sizing:inherit;
}

/*---utility styles--*/


/*--responsive images--*/
img{
    max-width:100%;
    height: auto;
}

/*---global styles--*/

body{
    font-family:'Oswald', sans-serif;
    margin:auto;
    
    background-color:#242963 ;
}

/*--index.html--*/
.img{
    max-width: 100%;
    max-height: 100%;
   }
header.primary{
    background-image: url(../img/starsforslideshow.jpg);
    text-align:center;
    color:#242963;
    text-shadow:1px 1px #ffffff;
    padding: 20px;
    position:relative;
    text-decoration-color: black;

}

header.primary::before{
    content:"";
    background-size:cover;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    opacity:0.5;
}

header.primary h1{
    font-size:3.2 rem;
    margin:20px 0;
    position: relative;
}



header.primary h1 a{
    color:#CFE5FF;
    display:block;
    width: 800px;
    height:70px;
    margin:0 auto;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

header.primary h2{
    font-family:'Oswald', sans-serif ;
    font-size: 1.5rem;
    margin: auto;
    position:center;
}

header.primary nav{
    max-width: 800px;
}

header.primary nav ul{
    position:relative;
    padding:0;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    max-width:800px;
    margin: 20px auto;
}

header.primary nav li{
    list-style-type:none;
    background:transparent;
    padding:30px;
    width:20%;
}

header.primary nav ul li a{
    color:#242963;
    text-decoration:none;
    background-color:#8CB3DB;
    background-color:transparent(0,0,0,.4);
    padding:6px 16px;
    display:inline-block;
    border-radius:20px;
}

header.primary nav a:hover{
    background-color:rgba(0,0,0,.6);
    transition:.3s;
}
/*----sections---*/

section#content{
    padding: 3rem 0;
    margin: 20px 50px 25px;
}

section#content h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:1.6rem;
    color:#525EE3;
    text-align:center;
    text-shadow: 1px 1px 1px #999FE8 ;
}

section#content p{
    text-align:center;
    padding:20px 20px 20px 20px;
    border-radius: 5px groove purple
}

#articles{
    border: 15px ridge grey;
    padding: 50px;
    margin: 20px;
    position:relative;
}

section#articles h2{
    color:#CFE5FF;
    padding: 30px, 50px, 75px, 50px;
    background-color: grey;
    text-decoration: white;
    position:relative;
    border: 3px groove white;
    border-radius: 1px;
    text-align: center;
}

section#articles li{
    padding: 30px, 50px, 75px, 50px;  
    width:fit-content;
    position:relative;
    text-align: left;
}

p{
    margin: 30px, 50px, 75px, 50px;
    background-color:#999FE8;
    text-decoration: white;
    border: 2px groove white;
    border-radius: 12px;
    padding: 50px;
}


section#slideshow1{
    margin:0;
    padding:15px;
    float:left;
    
}
section#slideshow2{
    margin:0;
    padding:15px;
    float:left;
    
}

section#slideshow3{
    margin:0;
    padding:15px;
    float:left;
    
}

aside[role="complementary"]{
    background-color: black;
    color:#ffffff;
    padding:2.5em;
}

aside.container{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

aside article.widget{
    width:40%;
}

.widget.overview table {
    font-size: 0.7em;
    border-collapse: collapse;
  }
  
  .widget.overview table td {
    border-bottom: 1px solid #fff;
    padding: 10px;
  }
  
  .widget.overview table td:nth-child(even) {
    text-align: right;
  }
  aside article a:link,
  aside article a:visited {
    color: #ffffff;
    display: block;
    margin-top: 1.2em;
    letter-spacing: 1.2px;
  }



footer{

background-color: beige;
}
/*--history page--*/

section#content p{
text-align:center;
background-color: #ffffff;
}

.img{
 max-width: 100%;
 max-height: 100%;
}

img{
    max-width:100%;
}

.container{
    margin:40px auto;
    width:70vw;
    /* Set Max Content Width */
    max-width:700px;
}

/* Customize Previous/Next/Dots/Autoplay */

.slick-autoplay-toggle-button,
.slick-prev .slick-prev-icon, .slick-next .slick-next-icon,
.slick-dots li button .slick-dot-icon,
.slick-dots li.slick-active button .slick-dot-icon {
  color: white;
}

/* Customize Previous/Next/Dots/Autoplay - Active State */

.slick-next:focus .slick-next-icon,
.slick-next:focus .slick-prev-icon,
.slick-prev:focus .slick-next-icon,
.slick-prev:focus .slick-prev-icon,
.slick-dots li button:focus .slick-dot-icon:before,
.slick-dots li.slick-active button:focus .slick-dot-icon,
.slick-autoplay-toggle-button:focus
{
    color:rgb(36, 26, 145);
}